<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/home">Gestionale</button>
    <button *ngIf="this.auth.authentication" mat-button routerLink="/users">Utenti</button>
    <button *ngIf="this.auth.authentication" mat-button routerLink="/lazy">Lazy</button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <div *ngIf="!this.auth.authentication">
      <button mat-button routerLink="/login">
        <mat-icon>power_settings_new</mat-icon>Login
      </button>
    </div>
    <div *ngIf="this.auth.authentication">
      <button mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>Logout
      </button>
    </div>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <div *ngIf="!this.auth.authentication">
    <button mat-menu-item routerLink="/login">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
  </div>
  <div *ngIf="this.auth.authentication">
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
</mat-menu>
